{% load static %}
<div id="content">

  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

    <!-- <a class="sidebar-brand d-flex align-items-center" href="/manager_dashboard">
      <div class="sidebar-brand-icon mr-2">
        <img src="/static/images/logo-2-blue.png" title="Blue Logo" alt="Blue Logo">
      </div>
      <div class="sidebar-brand-text">Team Connect<sup></sup></div>
    </a>
 -->
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>



    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
          <form class="form-inline mr-auto w-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Nav Item - Alerts -->
      <li class="nav-item dropdown no-arrow mx-1">
        <div class="left-header-part">
          <div class="country-wrapper d-flex">
            <div class="country-field">
              <a href="#" title=""><i class="fas fa-clock"></i> <span id="timezone_1_1"></span> </a>
              <div class="c-logo-block media">

                <p class="media-body">{{user_timezones.timezone1}}</p>
              </div>
            </div>

            <div class="country-field">
              <a href="#" title=""><i class="fas fa-clock"></i> <span id="timezone_2_2"></span> </a>
              <div class="c-logo-block media">

                <p class="media-body">{{user_timezones.timezone2}}</p>
              </div>
            </div>

            <div class="country-field">
              <a href="#" title=""><i class="fas fa-clock"></i> <span id="timezone_3_3"></span> </a>
              <div class="c-logo-block media">

                <p class="media-body">{{user_timezones.timezone3}}</p>
              </div>
            </div>

            <div class="country-field">
              <a href="#" title=""><i class="fas fa-clock"></i> <span id="timezone_4_4"></span> </a>
              <div class="c-logo-block media">

                <p class="media-body">{{user_timezones.timezone4}}</p>
              </div>
            </div>
          </div>
        </div>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span
              class="mr-2 d-none d-lg-inline font-weight-bold text-black1 small" data-toggle="tooltip" data-placement="top" title="Manager">{{manager_details.full_name}}</span>
            <span data-toggle="tooltip" data-placement="top" title="Manager"><img class="img-profile rounded-circle" src="{% static 'img/admin-demo.png' %}"> </span>
          </a>
       
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{% url 'manager_profile' %}">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logout-conformation-popup">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>



